body {
  background: #fafafa;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
}

section {
  padding: 20px 0;
}

#main {
  padding: 24px;
}

paper-button.colored {
  color: #4b2e83;
}

paper-button[raised].colored {
  background: #4b2e83;
  color: #d9d9d9;
}

[drawer] {
  background-color: #EEEEEE;
}

core-toolbar {
  color: #d9d9d9;
  background-color: #4b2e83;
}
